@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input {
  font-family: "Poppins", sans-serif;
  background-color: #343541;
}
body {
  max-height: 100vh;
  max-width: 100vw;
}
/* width */
.scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #343541;
  border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #343541;
}
